.dsmeta-red-btn {
    height: 45px;
    width: 45px;
    background: rgba(158, 158, 158, 0.225);
    border: 1px solid #343434;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dsmeta-red-btn img {
    width: 19px;
}